*,
html {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

/*NAVBAR*/

.container-navbar {
    background-color: transparent;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    transition: top 0.4s;
    position: fixed;
    overflow: hidden;
}

.container-navbar.show {
    top: 0;
}

.image-container-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("animesher.com_gif-ghost-in-the-shell-coding-2045678.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ul-navbar {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(136, 136, 136, 0.7) 100%);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.4s;
    z-index: 999;
}

.navbar-left-li {
    display: flex;
    align-items: center;
    margin-left: 0.75vw;
    font-size: 2vh;
    float: left;
}

.navbar-logo {
    height: 8.25vh;
    width: 8.25vh;
    margin-left: 5vh;
}

.navbar-title {
    color: white;
    width: 20vw;
}

.li-navbar {
    float: top;
    border: 2px solid white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    display: block;
    list-style-type: none;
    padding: 1.5vh; /*25px*/
    /*margin: 0vw;*/
    border-radius: 15px;
    font-size: 3.25vh;
    color: white;
    transition: 1s;
    margin: 0.25vw;
}

.li-navbar:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);;
    color: black;
    border: 2px solid black;
}

.a-navbar {
    color: white;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 400;
    padding: 1.5vh;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.a-navbar:hover {
    color: rgb(0, 0, 41);
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.menu-btn {
    margin-left: 1vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 5vh;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn__burger {
    width: 3.5vw;
    height: 0.75vh;
    background: #fff;
    border-radius: 5vh;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 0.75vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-2vh);
}
  .menu-btn__burger::after {
    transform: translateY(2vh);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-5vh);
    background: transparent;
    box-shadow: none;
}
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(4vh, -4vh);
}
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(4vh, 4vh);
}

/*CONT*/

.container-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
}

.img-content {
    background-color: white;
}

.container-footer {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.h1-footer {
    font-size: 40px;
}