*,
html {
    margin: 0;
    padding: 0;
}

.container {
    height: 100px;
}

/*NAVBAR*/

.container-navbar {
    background-color: transparent;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    transition: top 0.4s;
    position: fixed;
}

.container-navbar.show {
    top: 0;
}

.image-container-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("animesher.com_gif-ghost-in-the-shell-coding-2045678.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.l-ul-navbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 5;
    transition: top 0.4s;
    z-index: 100;
}

.r-ul-navbar {
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    top: 0;
    right: 5;
    transition: top 0.4s;
    z-index: 100;
}

.navbar-left-li {
    display: flex;
    align-items: center;
    margin-right: 8px;
    font-size: 15px;
    float: left;
}

.navbar-logo {
    height: 60px;
    width: 60px;
    margin-left: 1px;
}

.navbar-title {
    color: white;
    width: 23vw;
}

.li-navbar {
    float: top;
    border: 2px solid white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    display: block;
    list-style-type: none;
    padding: 10px; /*25px*/
    /*margin: 0vw;*/
    border-radius: 15px;
    font-size: 25px;
    color: white;
    transition: 1s;
    font-weight: 500;
    margin: 4px;
}

.li-navbar:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    color: black;
    border: 2px solid black;
}

.a-navbar {
    color: white;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.a-navbar:hover {
    color: rgb(0, 0, 41);
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
    padding: 2px;
    transition: all 0.5s ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin-right: 1px;
}

.menu-btn:hover {
    border: 2px solid black;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);;
}

.menu-btn__burger {
    width: 50px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-14px);
}
  .menu-btn__burger::after {
    transform: translateY(14px);
}
/*-ANIMATION*/
.menu-btn.open .menu-btn__burger {
    transform: translateX(-5px);
    background: transparent;
    box-shadow: none;
}
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(4px, -4px);
}
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(4px, 4px);
}

@media screen and (min-width: 926px) {
    .menu-btn {
        display: none;
    }
}

@media screen and (max-width: 926px) {
    .li-navbar {
        display: none;
    }
}

/*CONTAINER*/

.container-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
}

.img-content {
    background-color: white;
}

.container-footer {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.h1-footer {
    font-size: 40px;
}